*.js
!jest.config.js
!.eslintrc.js
!.prettierrc.js

!lib/**/*.ts
!test/**/*.ts
*.d.ts

dist
node_modules

# yarn asset
yarn-install.log
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/versions/
!.yarn/sdks/
.pnp.*

# yarn asset
yarn-install.log
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/versions/
!.yarn/sdks/
.pnp.*

# yarn asset
yarn-install.log
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/versions/
!.yarn/sdks/
.pnp.*

# yarn asset
yarn-install.log
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/versions/
!.yarn/sdks/
.pnp.*

# CDK asset staging directory
.cdk.staging
cdk.out

cdk.context.json
/.idea/
/aws4embeddedlinux-ci.iml

# Ignore Mac DS_Store files
**/.DS_Store

assets
source-zip
aws4embeddedlinux-cdk-lib-*.tgz
